html, 
body { 
  height: 100%; 
  width: 100%; 
  margin: 0; 
} 
 
.main { 
  height: 100%; 
  width: 100%; 
  position: relative; 
  top: 100px; 
} 
 
.button { 
  height: 40px; 
  width: 200px; 
  border: 3px solid black; 
  margin: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 
 
button { 
  height: 100%; 
  width: 100%; 
  border: none; 
  cursor: pointer; 
} 
 
input { 
  height: 100%; 
  width: 100%; 
  border: none; 
  outline: none; 
  padding: 5px; 
  box-sizing: border-box; 
  /* margin-bottom: 100px; */ 
} 
 
.input { 
display: flex; 
align-items: center; 
justify-content: center; 
margin-bottom: 20px; 
position: relative; 
left: 130px; 
} 
.output { 
display: flex; 
align-items: center; 
justify-content: center; 
}